.public{
	display: none;
}
body{
	position: static;
	overflow: auto;
	height: 100%;
}
table{
	border:1px solid #aaa;
	border-collapse: collapse;
	padding: 0px;
	width: 98%;
	margin: 0px auto;
}
table td,table th{
	border: 1px solid #aaa;
	text-align: center;
	height: 20px;
	background-color:none; 
	
}
.smalltable{
	width:60%;
}
table thead,table tbody,table tfeet{
	background-color: #ddd;
}
table tbody{
	background-color: none;
}
.showarea{
	float: left;
	width: 100%;
	background-color:#ddd;
	margin: 0px;
	z-index: 100;
}
.public{
	display: none;
	z-index: 100;
}
#save{
	text-align: right;
}
.change{
	width: 99%;
	height: 100%;
	border: none;
	text-align: center;
}
#warnings,#warning1s{
	position: fixed;
	bottom: 50%;
	left:45%;
	background-color: #cfc7c5;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	z-index: 10002;
}
.aindex{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:#c0c0c0;
	opacity:0.5;
	margin:auto;
	z-index:10000;
	border: 1px solid yellow;
	float: left;
	display: none;
}
.abb{
	width:50%;
	position:fixed;
	top:20%;
	left:22.5%;
	background:#c0c0c0;
	opacity:1.0;
	margin:auto;
	z-index:10001;
	border: 1px solid red;
	float: left;
	display: none;
}

#pages{
	position: fixed;
	bottom: 10%;
	text-align: center;
	width: 100%;
}
#page{
	text-align: center;
	width: 100%;
}
.hidden{
	display:none;
}
.goodsLoad{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	z-index: 10001;
}
.wrong{
	background-color: red;
}
.mengban{
	width: 100%;
	height: 100%;
	opacity:1;
	z-index:10001;
	background: url("/shopmanager/images/flower.jpg");
	background: 1px solid red;
}
.center{
	text-align: center;
}

table tr:hover{
	background-color: red;
}

.sbutton{
	width: 10%;
	height: 100%;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom:none;
	border-top:none;
	margin: 0px 5px;
	background-color: #bbb;
}
.sbutton:hover{
	background-color: #666;
}
.stext{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}
.warningtd{
	background-color: red;
}
.center{
	text-align: center;
}

.goodsExchange{
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 15%;
	border: 3px solid red;
	z-index: 10001;
	background: url("/shopmanagert/images/flower.jpg");
}

h1,h3,h4,h5,h6,h2{
	width: 100%;
	text-align: center;
}

caption {
	font-size: 20px;
	margin: 10px;
	font-weight: bold;
}

.cbutton{
	text-align: center;
	border: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #aaa;
}
.div4 {
	border: 1px solid gray;
	position: relative;
	left: 10%;
	width: 80%;
	text-align: left;
	padding: 0px ;
	margin: 0em;
}
span{
	display: inline-block;
	text-align: center;
	height: 100%;
	font-size: 20px;
}

.title {
	width: 20%;
}
.division{
	width: 2%;
}
.value {
	width: 78%;
	margin: 0px;
	text-align: center;
	border: none;
	font-size: 20px; 
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: 0px;
}
.value:hover{
	background-color: #aaa;
}
/*
普通按钮
*/
.button {
	font-size: 20px;
}
.button:hover{
	background-color: green;
}

/*
* 横向功能列表格式设置
*/
.traveGps{
	list-style: none;
	position: absolute;
	width: 100%;
	text-align: center;
}
.traveGps li{
	float: left;
	border: 1px solid red;
	width: 10%;
	background-color: gray;
	color: white;
}

.gps{
	width: 100%;
	text-align: center;
	padding: 5%;
}
.li{
	border: 1px solid red;
	margin:0px 0px;
}