
#submitPurchase {
	margin: 3px 3px;
	color: rgb(0, 0, 0);
	font-size: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 25px;
	padding-right: 25px;
	border-width: 0px;
	border-color: rgb(197, 229, 145);
	border-style: solid;
	border-radius: 10px;
	background-color: rgb(110, 142, 224);
}

#submitPurchase:hover {
	color: #ffffff;
	background-color: #78c300;
	border-color: #c5e591;
}