.chk + label {
	background-color: #fafbfa;
	padding: 11px 9px;
	border-radius: 7px;
	display: inline-block;
	position: relative;
	margin-right: 30px;
	background: #F7836D;
	width: 58px;
	height: 10px;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1), 0 0 10px rgba(245, 146, 146, 0.4);
}

.chk + label:before {
	content: ' ';
	position: absolute;
	background: white;
	top: 0px;
	z-index: 99999;
	left: 0px;
	width: 24px;
	color: #FFF;
	height: 32px;
	border-radius: 7px;
	box-shadow: 0 0 1px rgba(0,0,0,0.6);
}

.chk + label:after {
	content:"关";	
	position: absolute;
	top: 7px;
	left: 37px;
	font-size: 1.2em;
	color: white;
	font-weight: bold;
	left: 8px;
	padding: 5px;
	top: 4px;
	border-radius: 100px;
}

.chk:checked + label {
	background: #67A5DF;
	box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1), 0 0 10px rgba(146, 196, 245, 0.4);
}

.chk:checked + label:after {
	content: '开';
	left: 10px;
}

.chk:checked + label:before {
	content: ' ';
	position: absolute;
	z-index: 99999;
	left: 52px;
}


.chk + label:after {
	left: 35px;	
}	

#checkbox_d2 + label:after, #checkbox_d2 + label:before, #checkbox label {	
	-webkit-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
.chk{
	display: none;
}